body{
	background: url("pix/13.jpg") no-repeat;
	position:relative;
	left:-20px;

}


#ca{
	background:#C4C4C4;
	width:60%;
	padding-left:44px;
	padding-top:20px;
	margin-top:10%;
	margin-left:20%;
	margin-right:2%;
	height:73vh;
	border-radius:0 0 120px  120px;
	text-align: left;  
	opacity:0.9;
}


h1{border-radius: 150px  150px 0 0;
	background-color:#A2AFB8;
	text-decoration: underline;
	padding-bottom:20px;
	min-height:20px;
	width: 106%;
	color: white;
	font-family: Chemistry;
	font-size:40pt;
	font-variant:small-caps;
	font-weight:bold;
	margin-top: -13.3%;
	margin-right:-2.2%;
	margin-left:-6%;
	text-shadow: 5px 0 #8B1C62;
}


.t1{
	margin-top:-5%;
	padding-top:9%;
	font-size: 26pt;
	font-variant:small-caps;
	font-weight: bold;
	color:#8B1C62; 
	letter-spacing:5px;
	font-family: lucida console;
	text-shadow: 3px 1px white;
}

.t2{
	 font-size: 15px;
	 color:#8B1C62;
	 padding-top:10px;
	margin-top:-9%;
	font-size: 26pt;
	font-variant:small-caps;
	font-weight: bolder;
	letter-spacing:5px;
	font-family: lucida console;
	text-shadow: 3px 1px white;
}

.w1{
	font-family: Verdana;
	height:30px;
	margin-left:-14px;
}
.w1:hover{
	color:#fff;
	font-family: Verdana;
	background:#333;
	height:30px;
}
.h1{
	margin-left:-14px;
	font-family: Verdana;
	height:30px;
	}
.h1:hover{
	color:#fff;
	font-family: Verdana;
	background:#333;
	height:30px;
	}

#answer{
		
		height:26px;}
#answer1{
	
		height:26px;}
#answer2{
		
		height:26px;}
#answer3{
		
		height:26px;}

.b2{
	float:left;
	background: #8B1C62;
	width:90px;
	height:30px;
	color: white;
	border-radius:120px;
	font-family: chemistry;
	font-weight: bold;
	font-size:19px;
	
}
 .b2:hover{
	 float:left;
	 font-family: chemistry;
	font-weight: bold;
	font-size:19px;
	border-radius:120px;
	width:70px;
	height:30px;
	background: white;
	transition:ease-in-out;
	color:#8B1C62;
	border:none;
}
